.git
.github
.gradle
.idea
.vscode
build
docs/*
!docs/koready-backend-design/
docs/koready-backend-design/*
!docs/koready-backend-design/openapi.yaml
scripts
out

.env
.env.*
!.env.example

*.iml
*.log
*.pem
*.key
*.p8
*.p12
*.jks
*.keystore
secrets
